<ion-header>
  <ion-toolbar>
    <ion-title>Enviar Solicitação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-item >
    <ion-label position="floating">ALUNO: </ion-label>
    <ion-input type="text"  placeholder ="Informe o nome do Aluno" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">CURSO E TURMA: </ion-label>
    <ion-input type="text"  placeholder ="Informe o Curso/Turma" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">RA: </ion-label>
    <ion-input type="text"  placeholder ="Informe o R.A" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">MOTIVO: </ion-label>
    <ion-input type="text"  placeholder ="Informe o motivo" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">CPF(RESPONSÁVEL)</ion-label>
    <ion-input type="text"  placeholder ="Informe o CPF" required></ion-input>
  </ion-item>

  <ion-button href='confirma' expand='full'>CONFIRMAR SOLICITAÇÃO</ion-button>
  
  <ion-button href='principal' expand='full'>CANCELAR SOLICITAÇÃO</ion-button>


</ion-content>
