<ion-header>
  <ion-toolbar color='danger'>
    <ion-title>SOLICITAÇÕES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button href="principal" color="success">
    <ion-icon name="backspace"></ion-icon>
  </ion-button>

  <ion-card>
    <div class="ion-padding">
      <ion-list>
        <ion-item *ngFor="let solicitar of listaUsuario | async">


          <ion-label> <b> {{ solicitar.ra }} </b>
            <br> {{ solicitar.cpf }} <br />
            <b> {{ solicitar.data }} </b>
            <br> {{ solicitar.horario }} <br />
            <b> {{ solicitar.motivo }} </b>
            <br> {{ solicitar.responsavel }}</ion-label> <br />

            <ion-button color='success' href="principal"><ion-icon name="checkmark-circle"></ion-icon></ion-button>
            <ion-button color='dark' (click)="excluir(solicitar.key)"><ion-icon color='danger'name="trash"></ion-icon></ion-button>


        </ion-item>

      </ion-list>
    </div>
  </ion-card>
</ion-content>
