<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      SAIF - Sessão
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <ion-card>

    <div class="ion-padding">
      <h1>LOGIN</h1>

      <ion-img src="../assets/icon/logo.png"></ion-img>

      <ion-item>
        <ion-label position="floating">EMAIL:</ion-label>
        <ion-input   type="text" [(ngModel)] = "email" ></ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="floating">SENHA:</ion-label>
        <ion-input  type="password" [(ngModel)] = "senha" ></ion-input>
      </ion-item>

      <br>
      <a (click)="redefinir()">Esqueceu a senha?</a><br>
      <br>
      <br>

      <ion-button  color="success" href='principal'>ACESSAR</ion-button>

    </div>
  </ion-card>

</ion-content>
