<ion-header>
  <ion-toolbar>
    <ion-title>
      SAIF- Sessão
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../assets/icon/logo.png"></ion-img>

<ion-item>
  <ion-input type="text" name="nome" [(ngModel)]="usuario.email">email: </ion-input>
</ion-item>

<ion-item>
  <ion-input type="password" name="telefone" [(ngModel)]="usuario.senha">senha: </ion-input>
</ion-item>

  <br>
  <a (click)="redefinir()">Esqueceu a senha?</a><br>
  <br>
  <br>
  <b>Não possui uma conta?</b> <a href="cadastro">cadastre-se</a><br>

  <ion-button (click)="logar()">acessar</ion-button>


</ion-content>
